@import "mocha.css";

window#waybar {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

window#waybar.float {
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome, sans-serif;
  font-size: 12px;
  color: @text;
}

#workspaces button.active {
  background-color: #0d9ca6;
  box-shadow: inset 0 0 @text;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  box-shadow: inset 0 -3px @accent;
}



/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
    background-color: #1eb09f;
    color: #ffffff;
    border-radius: 10px;
    margin: 2px;
    padding: 0 7;
}

#workspaces button.focused {
  background-color: rgba(255, 0, 255, 1);
  box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
    border-radius: 10px; 
    margin: 5px;
}

#language {
  background-color: #00b093; /* например, бирюзовый фон */
  color: #000000;
  font-weight: bold;
  border-radius: 10px; 
  min-width: 25px;
  margin: 5px 0;
}

#battery {
  background-color: @green;
  color: @base;
  border-radius: 10px; 
  margin: 5px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    border-radius: 10px; 
    margin: 5px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
    border-radius: 10px; 
    margin: 5px;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
    border-radius: 10px; 
    margin: 5px;
}

#memory {
    background-color: #9b59b6;
    border-radius: 10px; 
    margin: 5px;
}

#disk {
    background-color: #964B00;
    border-radius: 10px; 
    margin: 5px;
}

#backlight {
    background-color: #90b1b1;
    border-radius: 10px; 
    margin: 5px;
}

#network {
    background-color: #2980b9;
    border-radius: 10px; 
    margin: 5px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
    border-radius: 10px; 
    margin: 5px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
    border-radius: 10px; 
    margin: 5px;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
    border-radius: 10px; 
    margin: 5px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
    border-radius: 10px; 
    margin: 5px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
	border-radius: 10px;
	margin: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#keyboard-state {
    background: #79c42d;
    color: #000000;
    padding: 0 0px;
    min-width: 16px;
    border-radius: 10px; 
    margin: 5px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

