@import "/home/serhii/.config/gtk-3.0/colors.css";

@define-color primary @base0D;
@define-color secondary @base03;
@define-color background @base00;
@define-color surface @base01;
@define-color on-primary @base07;
@define-color on-secondary @base05;
@define-color on-background @base06;
@define-color on-surface @base07;
@define-color text @base05;

window#waybar {
  border-radius: 10px;
  background-color: @background;   
  border: 1px solid @secondary;
}
window#waybar {
  border-radius: 10px;
  background-color:@background;   
  border: 1px solid @secondary;
}

window#waybar.float {
  background-color: transparent;
  border-radius: 10px;
  border: none;
}

* {
  font-family: JetBrainsMono Nerd Font, FontAwesome, sans-serif;
  font-size: 12px;
  color: @text;
}

#workspaces button.active {
  background-color: @primary;
  box-shadow: inset 0 0 @text;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}


#workspaces button {
    background-color: @secondary;
    border-radius: 10px;
    margin: 1px;
    padding: 0 7;
}

#workspaces button.focused {
  background-color: rgba(255, 0, 255, 1);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
    color: #ffffff;
	/*background-color: #FF0000;*/
}

#window,
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#language {
  font-weight: bold;
}

#battery {
}

#battery.charging, #battery.plugged {
    color: green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
    color: #2a5c45;
}

#wireplumber {
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
    border-radius: 10px; 
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
}

#keyboard-state {
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
}

#privacy-item {
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

