@import "/home/serhii/.config/wofi/colors.css";

@define-color primary @base0D;
@define-color secondary @base03;
@define-color background @base00;
@define-color surface @base01;
@define-color on-primary @base07;
@define-color on-secondary @base05;
@define-color on-background @base06;
@define-color on-surface @base07;
@define-color text @base05;



* {
    font-family: "Iosevka Nerd Font", monospace;
    font-weight: bold;
    font-size: 14px;
}

*:selected {
    color: @on-primary;
    background-color: @primary;
}

/* Window */
window {
    margin: 0px;
    padding: 10px;
    border: 3px solid @on-primary;
    border-radius: 7px;
    background-color: @background;
    animation: slideIn 0.1s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Inner Box */
#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @surface;
    animation: fadeIn 0.1s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Outer Box */
#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @surface;
}

/* Scroll */
#scroll {
    margin: 0px;
    padding: 10px;
    border: none;
}

/* Input */
#input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @on-background;
    background-color: @secondary;
    animation: fadeIn 0.1s ease-in-out both;
}

/* Text */
#text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @on-surface;
    animation: fadeIn 0.1s ease-in-out both;
}

/* Selected Entry */
#entry:selected {
    background-color: @primary;
    border-radius: 5px;
}

#entry:selected #text {
    color: @on-primary;
}
