@define-color primary #D1A260;
@define-color secondary #696969;
@define-color background #1C1B1F;
@define-color surface #212121;
@define-color on-primary #FFF3DA;
@define-color on-secondary #CAC4D0;
@define-color on-background #E6E1E5;
@define-color on-surface #F4EFF4;
